
html{
  font-family: serif;
}

body{
  margin: 0;
  background: #faf0db;
}

.navbar{
  position: relative;
  background: linear-gradient(45deg, rgb(129 168 172), rgb(150 211 213));
  background-repeat: no-repeat;
  background-size: auto;
  padding: 1em;
  box-shadow: rgba(0, 0, 0,0.5) 0em 0.4em 1em;
}

.toolbar_sphere_image{
  width: 100%;
  height: 30vh;
  min-height: 25em;
  object-fit: cover;
}
.toolbar_label{
  display: inline-block;
  font-size: 2.7em;
  font-style: italic;
  text-shadow: 0.2em 0.2em rgba(0,0,0,0.1);
  font-weight: bold;
}

.toolbar_nav_label{
  display: inline-block;
  margin: 0 1em;
  margin-top: 0.5em;
  border: 1px solid rgba(0,0,0,0.3);
  font-weight: bold;
  background: rgba(0,0,0,0.1);
  cursor: pointer;
  padding: 0.3em 3em;
  user-select: none;
  min-width: 4em;
  font-style: italic;
  font-size: 1.3em;
  text-align: center;
  box-shadow: #00000029 0.2em 0.2em 0.2em;

}
.toolbar_nav_label:hover{
  background: rgba(0,0,0,0.3);
}
.toolbar_nav_label:active{
  background: rgba(0,0,0,0.5);
}
.toolbar_nav_label_wrap{
  display: inline-block;
  float: right;
}
.home_page_text{
  text-align: justify;
  font-size: 1.6em;
}
.home_page_title{
  font-size: 2.3em;
  text-align: center;
  padding-top: 1.5em;
  margin-bottom: 1em;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
}
.home_page_subtitle{
  font-size: 2.3em;
  padding-top: 2em;
  padding-bottom: 1em;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 18%;
}
.image_wrapper{
  text-align: center;
  margin-top: 3em;
}
.img_homepage{
  width: 33vw;
  margin: 1vw;
  border-radius: 1em;
  box-shadow: #00000029 0.2em 0.2em 0.2em;
}
.page_wrap{
  background: #faf0db;
  padding: 0 13vw;
}
.home_page_button{
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0.8em;
  margin-top: 2em;
  width: 10em;
  text-align: center;
  background: rgb(45, 109, 123);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  user-select: none;
  box-shadow: #00000029 0.2em 0.2em 0.2em;
}
.home_page_button:hover{
  background: rgb(38, 95, 107);
}
.home_page_button:active{
  background: rgb(32, 80, 90)
}
.separator_homepage{

}
.home_page_info_title{
  font-size: 2em;
  padding-top: 3em;
  margin-bottom: 1em;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
}
.home_page_info_text{
  text-align: justify;
  font-size: 1.4em;
}
.home_page_info_link{
  font-size: 1.2em;
  padding-top: 0.5em;
  color: #2d6d7b;
  font-family: sans-serif;
  cursor: pointer;
}
.home_page_info_box_fake{
  padding: 5em;
  font-size: 1.2em;
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.4);
}
.inline_homepage_info_wrap{

}
.inline_homepage_info_wrap_element{
  display: inline-table;
  margin: 1em;
}
.nav_main_menu{
  position: absolute;
  width: 13em;
  right: 2.3em;
  top: 4.2em;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0,0.5) 0em 0.4em 1em;
}
.nav_main_menu_button{
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 0.3em;
  text-align: center;
  background: #b0dbd5;
  font-style: italic;
  cursor: pointer;
}
.nav_main_menu_button:hover{
  background: #a1c8c3;
}
.nav_main_menu_button:active{
  background: #97bab5;
}
.page_title_label_separator{
  font-size: 2.6em;
  text-align: center;
  padding: 1em;
  padding-bottom: 0;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  background: #faf0db;
}
.index{
  padding: 1em;
  padding-top: 0;
  font-size: 1.3em;
  background: rgba(255,255,255,0.3);
  border: 1px solid rgba(0,0,0,0.2);
  margin: 2em;
}
.index_row{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0.5em;
}


.index_preview_image{
  height: 10em;
  display: inline-block;
  margin-right: 1rem;
}
.index_row_wrap{
  display: inline-block;
  padding: 1em;
}
.index_row_link{
  font-size: 1em;
  padding-top: 0.5em;
  color: #2d6d7b;
  font-family: sans-serif;
  cursor: pointer;
}
.index_row_title{
  font-weight: bold;
  font-size: 1.1em;
}
.article_page_wrap{
  background: #faf0db;
  padding: 0 13vw;
  padding-top: 2em;
  text-align: center;
}
.article_text{
  text-align: justify !important;
  font-size: 1.6em;
}
.video_iframe{
  margin: 3em;
  width: 30em;
  height: 20em;
}
.article_toolbar_sphere_image{
  width: 100%;
  height: 30vh;
  min-height: 25em;
}
.article_count{
  margin: 2em;
  margin-left: 5vw;
  font-size: 1.5em;
  color: #2d6d7b;
}
.index_row_preview{
  font-size: 0.6em;
}
.article_content_link_label{
  margin-top: 1em;
  font-size: 1.4em;
  float: left;
}
.article_text_preview_change{
  display: none;
}
