
html{
  font-family: serif;
}

body{
  margin: 0;
  background: #faf0db;
}

.navbar{
  position: relative;
  background: linear-gradient(45deg, rgb(129 168 172), rgb(150 211 213));
  background-repeat: no-repeat;
  background-size: auto;
  padding: 1em;
  box-shadow: rgba(0, 0, 0,0.5) 0em 0.4em 1em;
}

.toolbar_sphere_image{
  width: 100%;
  height: 30vh;
  min-height: 25em;
  object-fit: cover;
}
.toolbar_label{
  display: inline-block;
  font-size: 2.7em;
  font-style: italic;
  text-shadow: 0.2em 0.2em rgba(0,0,0,0.1);
  font-weight: bold;
}
.toolbar_label_small_screen{
  display: inline-block;
  font-size: 5em;
  font-style: italic;
  text-shadow: 0.2em 0.2em rgba(0,0,0,0.1);
  font-weight: bold;
}

.toolbar_nav_label{
  display: inline-block;
  margin: 0 1em;
  margin-top: 0.5em;
  border: 1px solid rgba(0,0,0,0.3);
  font-weight: bold;
  background: rgba(0,0,0,0.1);
  cursor: pointer;
  padding: 0.3em 3em;
  user-select: none;
  min-width: 4em;
  font-style: italic;
  font-size: 1.3em;
  text-align: center;
  box-shadow: #00000029 0.2em 0.2em 0.2em;

}
.toolbar_nav_label:hover{
  background: rgba(0,0,0,0.3);
}
.toolbar_nav_label:active{
  background: rgba(0,0,0,0.5);
}
.toolbar_nav_label_wrap{
  display: inline-block;
  position: absolute;
  right: 2em;
}
.home_page_text{
  text-align: justify;
  font-size: 1.6em;
}
.home_page_title{
  font-size: 2.3em;
  text-align: center;
  padding-top: 1.5em;
  margin-bottom: 1em;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
}
.home_page_subtitle{
  font-size: 2.3em;
  padding-top: 2em;
  padding-bottom: 1em;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 18%;
}
.image_wrapper{
  text-align: center;
  margin-top: 3em;
}
.img_homepage{
  width: 33vw;
  margin: 1vw;
  border-radius: 1em;
  box-shadow: #00000029 0.2em 0.2em 0.2em;
}
.page_wrap{
  background: #faf0db;
  padding: 0 13vw;
}
.home_page_button{
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0.8em;
  margin-top: 2em;
  width: 10em;
  text-align: center;
  background: rgb(45, 109, 123);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  user-select: none;
  box-shadow: #00000029 0.2em 0.2em 0.2em;
}
.home_page_button_small_screen{
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0.8em;
  margin-top: 2em;
  width: 10em;
  text-align: center;
  background: rgb(45, 109, 123);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
  box-shadow: #00000029 0.2em 0.2em 0.2em;
}
.home_page_button:hover{
  background: rgb(38, 95, 107);
}
.home_page_button:active{
  background: rgb(32, 80, 90)
}
.separator_homepage{

}
.home_page_info_title_small_screen{
  font-size: 3em;
  padding-top: 3em;
  margin-bottom: 1em;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
}
.home_page_info_title{
  font-size: 2em;
  padding-top: 3em;
  margin-bottom: 1em;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
}
.home_page_info_text{
  text-align: justify;
  font-size: 1.4em;
}
.home_page_info_text_small_screen{
  text-align: justify;
  font-size: 2em;
}
.home_page_info_link{
  font-size: 1.2em;
  padding-top: 0.5em;
  color: #2d6d7b;
  font-family: sans-serif;
  cursor: pointer;
}
.home_page_info_link_small_screen{
  font-size: 1.6em;
  padding-top: 1em;
  color: #2d6d7b;
  font-family: sans-serif;
  cursor: pointer;
}
.home_page_info_box_fake{
  padding: 5em;
  font-size: 1.2em;
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.4);
}
.inline_homepage_info_wrap{

}
.inline_homepage_info_wrap_element{
  display: inline-block;
  margin: 1em;
}
.nav_main_menu{
  position: absolute;
  width: 13em;
  right: 3.3em;
  top: 4.2em;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0,0.5) 0em 0.4em 1em;
}
.nav_main_menu_button{
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 0.3em;
  text-align: center;
  background: #b0dbd5;
  font-style: italic;
  cursor: pointer;
}
.nav_main_menu_button:hover{
  background: #a1c8c3;
}
.nav_main_menu_button:active{
  background: #97bab5;
}
.page_title_label_separator{
  font-size: 2.6em;
  text-align: center;
  padding: 1em;
  padding-bottom: 0;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  background: #faf0db;
}
.page_title_label_separator_small_screen{
  font-size: 3.5em;
  text-align: center;
  padding: 1em;
  padding-bottom: 0;
  color: #2d6d7b;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  background: #faf0db;
}
.index{
  padding: 1em;
  padding-top: 0;
  font-size: 1.3em;
  background: rgba(255,255,255,0.3);
  border: 1px solid rgba(0,0,0,0.2);
  margin: 2em;
}
.index_row{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0.5em;
}


.index_preview_image{
  height: 10em;
  display: inline-block;
  margin-right: 1rem;
}
.index_row_wrap{
  display: inline-block;
  padding: 1em;
}
.index_row_link{
  font-size: 1em;
  padding-top: 0.5em;
  color: #2d6d7b;
  font-family: sans-serif;
  cursor: pointer;
}
.index_row_title{
  font-weight: bold;
  font-size: 1.1em;
}
.article_page_wrap{
  background: #faf0db;
  padding-top: 2em;
  text-align: center;
}
.article_text{
  text-align: justify !important;
  font-size: 1.6em;
}
.video_iframe{
  margin: 4em;
  width: 30em;
  height: 20em;
}
.article_toolbar_sphere_image{
  width: 100%;
  height: 30vh;
  min-height: 25em;
}
.article_count{
  margin: 2em;
  margin-left: 5vw;
  font-size: 1.5em;
  color: #2d6d7b;
}
.article_count_small_screen{
  margin: 2em;
  margin-left: 5vw;
  font-size: 4em;
  color: #2d6d7b;
}
.index_row_preview{
  font-size: 0.6em;
}
.article_content_link_label{
  margin-top: 1em;
  font-size: 1.4em;
  float: left;
}
.article_text_preview_change{
  display: none;
}
.nav_main_menu_small_screen{
  position: absolute;
  width: 17em;
  right: 2.8em;
  top: 3.8em;
  font-size: 1.78em;
  box-shadow: rgba(0, 0, 0,0.5) 0em 0.4em 1em;
}
.nav_main_menu_button_small_screen{
  font-size: 1.7em;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 0.3em;
  text-align: center;
  background: #b0dbd5;
  font-style: italic;
  cursor: pointer;
}
.toolbar_nav_label_small_screen{
  display: inline-block;
  margin: 0 1em;
  border: 1px solid rgba(0,0,0,0.3);
  font-weight: bold;
  background: rgba(0,0,0,0.1);
  cursor: pointer;
  padding: 0.3em 3em;
  user-select: none;
  min-width: 4em;
  font-style: italic;
  font-size: 3em;
  text-align: center;
  box-shadow: #00000029 0.2em 0.2em 0.2em;
}
.toolbar_nav_label_small_screen:hover{
background: rgba(0,0,0,0.3);
}
.toolbar_nav_label_small_screen:active{
background: rgba(0,0,0,0.5);
}
.image_slide_show{
  height: 20em;
  max-width: 99%;
  border: 0.1em solid;
  box-shadow: #0000005c 0.5em 0.5em 0.5em;
  display: inline-block;
}
.image_slide_show_hidden{
  display: none;
}
.slide_show_wrap{
  padding:3em;
}
.slide_show_button_selected{
  width: 1em;
  height: 1em;
  background: rgba(255, 193, 7, 0.4);
  border: 2px solid;
  display: inline-block;
  margin: 1em 0.3em;
  margin-top: 2em;
  border-radius: 50%;
  user-select: none;
}
.slide_show_button{
  width: 1em;
  height: 1em;
  background: rgba(0,0,0,0.2);
  border: 2px solid;
  display: inline-block;
  margin: 1em 0.3em;
  margin-top: 2em;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
.slide_show_button:hover{
  background: rgba(0,0,0,0.4);
}
.slide_show_button:active{
  background: rgba(0,0,0,0.6);
}
.slide_show_buttons_wrapper{

}
.slide_show_wrap_images{
    margin: 0 3em;
}
.slide_side_buttons_wrapper{
  position: relative;
  margin-top: -27.5em;
}
.left_slide_button{
  padding: 0 0.05em;
  padding-top: 0.49em;
  padding-bottom: 0.6em;
  background: rgba(255,255,255,0.3);
  cursor: pointer;
  display: none;
  position: absolute;
  font-size: 9em;
  margin-right: -0.45em;
  user-select: none;
}
.left_slide_button:hover{
  background: rgba(255,255,255,0.4);
}
.left_slide_button:active{
  background: rgba(255,255,255,0.6);
}
.right_slide_button{
  padding: 0 0.05em;
  padding-top: 0.49em;
  padding-bottom: 0.6em;
  background: rgba(255,255,255,0.3);
  cursor: pointer;
  display: none;
  position: absolute;
  font-size: 9em;
  margin-left: -0.43em;
  user-select: none;
}
.right_slide_button:hover{
  background: rgba(255,255,255,0.4);
}
.right_slide_button:active{
  background: rgba(255,255,255,0.6);
}
.article_separator{
  
}
